#bottom-sheet-container ::deep {
    position: fixed;
    inset: 0;
    z-index: 1000;
    pointer-events: none;
    --bottom-sheet-transition-duration: 0.3s;
    --bottom-sheet-gap: 0.2; /* 20% */

    > * {
        pointer-events: auto;
    }

    > .bottom-sheet-background {
        position: absolute;
        z-index: 1001;
        inset: 0;
        background-color: rgba(0,0,0,0.5);
        pointer-events: none;
        opacity: 0;
        transition: opacity var(--bottom-sheet-transition-duration) ease;
    }

    > .bottom-sheet-background:has(+ .bottom-sheet-content.active) {
        display: initial;
        pointer-events: auto;
        opacity: 1;
    }

    > .bottom-sheet-content {
        position: absolute;
        inset: 0;
        bottom: calc(var(--bottom-sheet-gap) * 100%);
        z-index: 1002;
        transform: translateY(calc(1 / calc(1 - var(--bottom-sheet-gap)) * 100%));
        transition: transform var(--bottom-sheet-transition-duration) ease;
        display: flex;
        flex-direction: column;

        > .bottom-sheet-tab {
            position: absolute;
            left: 50%;
            transform: translateY(-100%) translateX(-50%);
            cursor: pointer;

            > .svg-tab {
                /* 
                2px cuz for some reason theres a tiny gap idk why
            */
                margin-bottom: -3px;
                color: var(--haondt-ui-color-chip-background);
                transition: color var(--bottom-sheet-transition-duration) ease;
            }

            > .icon-container {
                position: absolute;
                inset: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                > .svg-icon {
                    rotate: 180deg;
                    transition: rotate var(--bottom-sheet-transition-duration) ease;
                }
            }
        }
    }

    > .bottom-sheet-content.active {
        transform: translateY(calc(var(--bottom-sheet-gap) / calc(1 - var(--bottom-sheet-gap)) * 100%));
        > .bottom-sheet-tab {
            > .svg-tab {
                color: var(--haondt-ui-color-background);
            }
            > .icon-container {
                > .svg-icon {
                    rotate: 0deg;
                }
            }
        }
    }
}

#bottom-sheet-container:not(.active) {
    display: none;
}

/******************************/
/*
#bottom-sheet-container.active {
    transform: translateY(0%);
    .bottom-sheet-tab {
        position: relative;
        transform: translateY(0%); 

        > .svg-tab {
            color: var(--haondt-ui-color-background);
        }
    }
}

#bottom-sheet-container.active ::deep .bottom-sheet-tab > .icon-container > .svg-icon {
    rotate: 0deg;
}

*/