


.content-container-body.content-container-width-default { max-width: var(--haondt-ui-content-width); }
.content-container-body.content-container-width-small { max-width: var(--haondt-ui-content-width-s); }

.content-container-shell.content-container-layout-center { justify-content: center; }
.content-container-shell.content-container-layout-hero { position:relative; }

.content-container-body.content-container-layout-hero { position:absolute; top: 12.5%; }

.content-container-shell {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container-body {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--haondt-ui-panel-spacing));
}
