.dialog-container {
    display: flex;
    flex-direction: column;

    > *:not(:first-child):not(.dialog-container-buttons) {
        margin-top: var(--haondt-ui-line-spacing);
    }
}

.dialog-container > .dialog-container-buttons {
    margin-top: var(--haondt-ui-panel-spacing);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--haondt-ui-line-spacing);
}

@media screen and (max-width: 768px) {
    .dialog-container > .dialog-container-buttons {
        flex-direction: column;
        align-items: stretch;
        flex-flow: column-reverse;
    }
}
