#hero-text {
    font-size:170px;
}
@media (--media-query-max-width-xl) {
    #hero-text {
        font-size: 140px;
    }
}
@media (--media-query-max-width-m) {
    #hero-text {
        font-size: 64px;
    }
}

