@using Haondt.Web.UI.Components.Element
@using System.Text.Json
@using Odyssey.Client.Authentication.Services
@using Odyssey.UI.Core.Services
@attribute [RenderPage]
@attribute [LayoutOptions(FillPage = true)]
@implements IHasNavigationBarComponent

@inject NavigationManager Nav
@inject ISessionService SessionService


@code {
    private List<(string Title, string Body, string Path)> _roleCards = [
        (
    "Host",
    "Create gameboards, manage sessions and control the show",
    "roles/host"
    ),
        (
            "Device",
            "Set up a physical device for players to interact with the game",
            "roles/device"
        ),
        (
            "Display",
            "Main screen for audience and players to follow the game",
            "roles/display"
        ),
        (
            "Admin",
            "System diagnostics, monitoring and debugging tools",
            "roles/admin"
        ),
    ];

    public NavigationBar CreateNavigationBar() => new()
    {
        Template = new NavigationBarRoles()
    };
}

<Frame AddClasses="@("big-screen m-auto px-s py-xl max-width-content")">
    <Frame Flex="FrameDirection.Col" Gap="FrameSpacing.Card">
        <h1 id="hero-text" class="fg-primary uppercase font-semibold">Odyssey</h1>
        <p class="text">Select role to continue</p>

        <Frame Grid="FrameGrid.CollapsibleFillTwo" Gap="FrameSpacing.Card" Align="FrameAlignment.Stretch">
            @foreach(var (title, body, path) in _roleCards)
            {
                <a
                    href="@Nav.ToAbsoluteUri(path)" 
                    hx-boost="true" 
                    class="flex"
                >
                    <Frame 
                        Clickable="true"
                        Template="FrameTemplate.Card" Flex="FrameDirection.Col" Gap="FrameSpacing.Line" Align="FrameAlignment.Start">
                        <p class="subtitle">@title</p>
                        <p class="text">@body</p>
                    </Frame>
                </a>
            }
        </Frame>
    </Frame>
</Frame>
