@attribute [RenderPage]
@attribute [LayoutOptions(ShowNavigationBar = false, FillPage = true)]

<Frame AddClasses="@("big-screen m-auto")">
    <Frame Flex="FrameDirection.Col" >
        <h1 id="hero-text" class="fg-primary uppercase font-semibold">Odyssey</h1>
        <p>Select role to continue</p>

@*         <Frame grid="FrameGrid.">
        </Frame>
 *@
    </Frame>
</Frame>

