.sec-nav-bar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sec-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: inset 0 calc(var(--haondt-ui-border-width) * -1) 0 0 var(--haondt-ui-color-border);

    > ul {
        display: flex;
        flex-direction: row;

        > li {
            height: var(--haondt-ui-control-height);
            display: flex;
            align-items: center;
            border-bottom: var(--haondt-ui-border-width) solid transparent;

            > a, > p {
                padding-left: var(--haondt-ui-control-padding-x);
                padding-right: var(--haondt-ui-control-padding-x);
                font-size: var(--haondt-ui-text-font-size);
                font-weight: var(--haondt-ui-text-font-weight);
                color: var(--haondt-ui-color-text);
                white-space: nowrap;
                height: 100%;
                display: flex;
                align-items: center;
            }

            > a.active, > p.active {
                color: var(--haondt-ui-color-accent);
            }

        }

        > li:has(> a) {
            cursor: pointer;
        }

        > li:has(> .active) {
            border-bottom: var(--haondt-ui-border-width) solid var(--haondt-ui-color-accent);
        }

        > li:not(:has(> .active)) {
            transition: border-bottom var(--haondt-ui-hover-transition-duration-leave) var(--haondt-ui-hover-transition-timing);
        }

        > li:not(:has(> .active)):has(> a):hover {
            border-bottom: var(--haondt-ui-border-width) solid var(--haondt-ui-color-text);
            transition-duration: var(--haondt-ui-hover-transition-duration-enter);
        }
    }
}

.sec-nav-bar-sticky {
    position: sticky;
    top: 0;
    background-color: var(--haondt-ui-color-background);
    box-shadow: var(--haondt-ui-blend-box-shadow);
    clip-path: var(--haondt-ui-blend-clip-path);
}

@media screen and (min-width: 769px) {
    .sec-nav-bar {
        flex-wrap: wrap;
        > ul {
            flex-wrap: wrap;
        }
    }
}

@media (pointer: coarse) {
    .sec-nav-bar {
        scrollbar-width: none;
    }
}

