@using Haondt.Web.UI.Components.Containers
@using Haondt.Web.UI.Services
@using Odyssey.Client.Authentication.Models
@using Odyssey.Domain.Core.Models
@using Odyssey.Domain.Core.Services
@using Odyssey.UI.Authentication.Models
@using Odyssey.UI.Authentication.Models.Authentication
@using Odyssey.UI.Core.Services
@using Odyssey.Client.Authentication.Services
@inject NavigationManager Nav
@inject ICachedDataRepository<ServerSettings> ServerSettingsService
@inject IValidationStateReader ValidationState
@code {
    public const string Id = "sign-in-panel";

    private bool _showRegister = false;


    protected override async Task OnInitializedAsync()
    {
        var serverSettings = await ServerSettingsService.GetDataAsync(ServerSettings.Key);
        _showRegister = serverSettings.Data.OpenRegistration.Or(false);
    }

}


<ContentContainer Layout="ContentContainerLayout.Hero" Width="ContentContainerWidth.Small" Id="@Id">
    <Frame
        Gap="FrameSpacing.Card"
        Flex="FrameDirection.Col"
        Align="FrameAlignment.Stretch">
        <p class="title text-align-center">Sign in</p>
        <form hx-post>
            <Frame Flex="FrameDirection.Col" Align="FrameAlignment.Stretch" Template="FrameTemplate.Card">
                <SmartField IsValid="!ValidationState.ValidationSummary.HasValue" Error="new()" TBase="SignInModel" Field="m => m.Username" Autocomplete='FieldAutocomplete.Username' HxPreserve="true" />
                <SmartField IsValid="!ValidationState.ValidationSummary.HasValue" Error="new()" TBase="SignInModel" Field="m => m.Password" Autocomplete='FieldAutocomplete.CurrentPassword'/>
                @if(ValidationState.IsValidation && ValidationState.ValidationSummary.TryGetValue(out var formError))
                {
                    <p class="validation-error">@formError</p>
                }
                <Frame Template="FrameTemplate.ButtonContainer">
                    @if (_showRegister)
                    {
                        <Button
                            HxPushUrl='"true"'
                            HxGet="@Nav.ToAbsoluteUri(OdysseyRoutes.Auth.Register).ToString()"
                            Style="ButtonStyle.Ghost" Color="ButtonColor.Text">Register</Button>
                    }
                    <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Continue</Button>
                </Frame>
            </Frame>
        </form>
    </Frame>
</ContentContainer>
