@attribute [RenderPage]

<Odyssey.UI.Core.Components.NavigationContainer HxSwapOob='"true"'/>  

<Frame AddClasses='"content-container-s"'>
    <p>Sign in</p>
    <Panel>
        <p>TODO!</p>

    </Panel>
</Frame>