html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    font-size: var(--haondt-ui-text-font-size);
    font-weight: var(--haondt-ui-text-font-weight);
    font-family: var(--haondt-ui-font-family);
    font-style: normal;
    font-optical-sizing: auto;
}

p, h1, h2, h3, h4, h5 {
    color: var(--haondt-ui-color-text);
}



a {
    color: var(--haondt-ui-color-accent);
}

html {
    background-color: var(--haondt-ui-color-background);
}

.brand {
    font-size: 32px;
}

.title {
    font-size: var(--haondt-ui-title-font-size);
    font-weight: var(--haondt-ui-title-font-weight);
    color: var(--haondt-ui-color-title);
}

.subtitle {
    font-size: var(--haondt-ui-subtitle-font-size);
    font-weight: var(--haondt-ui-subtitle-font-weight);
    color: var(--haondt-ui-color-subtitle);
}

.text {
    font-size: var(--haondt-ui-text-font-size);
    font-weight: var(--haondt-ui-text-font-weight);
    color: var(--haondt-ui-color-text);
}


.hint {
    font-size: var(--haondt-ui-hint-font-size);
    font-weight: var(--haondt-ui-text-font-weight);
    color: var(--haondt-ui-color-text);
}

.input, .button {
    height: var(--haondt-ui-control-height);
    padding-left: var(--haondt-ui-control-padding-x);
    padding-right: var(--haondt-ui-control-padding-x);
    border-radius: var(--haondt-ui-border-radius);
    font-size: var(--haondt-ui-text-font-size);
    font-weight: var(--haondt-ui-text-font-weight);
}

.input {
    background-color: var(--haondt-ui-color-background);
    border-style: solid;
    border-width: var(--haondt-ui-border-width);
    border-color: var(--haondt-ui-color-border);
    transition: border var(--haondt-ui-hover-transition-duration-leave) var(--haondt-ui-hover-transition-timing);
}

.input::placeholder {
    color: var(--haondt-ui-color-border);
}

.input:hover, .input:active {
    border-color: var(--haondt-ui-color-border-strong);
    transition-duration: var(--haondt-ui-hover-transition-duration-enter);
}

.input:focus {
    outline-color: var(--haondt-ui-color-primary);
    outline-width: var(--haondt-ui-border-focus-width);
    outline-style: solid;
    outline-offset: calc(-1 * var(--haondt-ui-border-focus-width));
    transition-duration: var(--haondt-ui-hover-transition-duration-enter);
}

[data-loading] {
    display: none;
}
