html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    font-size: var(--haondt-ui-text-font-size);
    font-weight: var(--haondt-ui-text-font-weight);
    font-family: var(--haondt-ui-font-family);
    font-style: normal;
    font-optical-sizing: auto;
}

p, h1, h2, h3, h4, h5 {
    color: var(--haondt-ui-color-text);
}



a {
    color: var(--haondt-ui-color-accent);
}

.brand {
    font-size: 32px;
}

.title {
    font-size: var(--haondt-ui-title-font-size);
    font-weight: var(--haondt-ui-title-font-weight);
}

.subtitle {
    font-size: var(--haondt-ui-subtitle-font-size);
    font-weight: var(--haondt-ui-subtitle-font-weight);
}

.text {
    font-size: var(--haondt-ui-text-font-size);
    font-weight: var(--haondt-ui-text-font-weight);
}

.chip {
    .chip-text {
        font-size: var(--haondt-ui-chip-font-size);
        font-weight: var(--haondt-ui-chip-font-weight);
    }
}


