@import 'reset.css';
@import 'variables.css';
@import 'base.css';
@import 'utils.css';
@import 'utils-generated.css';


:root {
    color-scheme: dark;
}

@media(prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

