.m-2xs {
	margin: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.m-xs {
	margin: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.m-s {
	margin: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.m-m {
	margin: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.m-l {
	margin: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.m-xl {
	margin: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.m-2xl {
	margin: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.m-0 {
	margin: 0 !important;
}
.m-auto {
	margin: auto !important;
}
.ml-2xs {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.ml-xs {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.ml-s {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.ml-m {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.ml-l {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.ml-xl {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.ml-2xl {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.ml-0 {
	margin-left: 0 !important;
}
.ml-auto {
	margin-left: auto !important;
}
.mr-2xs {
	margin-right: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.mr-xs {
	margin-right: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.mr-s {
	margin-right: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.mr-m {
	margin-right: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.mr-l {
	margin-right: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.mr-xl {
	margin-right: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.mr-2xl {
	margin-right: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.mr-0 {
	margin-right: 0 !important;
}
.mr-auto {
	margin-right: auto !important;
}
.mt-2xs {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.mt-xs {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.mt-s {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.mt-m {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.mt-l {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.mt-xl {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.mt-2xl {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mt-auto {
	margin-top: auto !important;
}
.mb-2xs {
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.mb-xs {
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.mb-s {
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.mb-m {
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.mb-l {
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.mb-xl {
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.mb-2xl {
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-auto {
	margin-bottom: auto !important;
}
.mx-2xs {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
	margin-right: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.mx-xs {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
	margin-right: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.mx-s {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
	margin-right: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.mx-m {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
	margin-right: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.mx-l {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
	margin-right: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.mx-xl {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
	margin-right: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.mx-2xl {
	margin-left: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
	margin-right: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
.my-2xs {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.my-xs {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.my-s {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.my-m {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.my-l {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.my-xl {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.my-2xl {
	margin-top: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
	margin-bottom: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.my-auto {
	margin-top: auto !important;
	margin-bottom: auto !important;
}
.p-2xs {
	padding: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.p-xs {
	padding: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.p-s {
	padding: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.p-m {
	padding: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.p-l {
	padding: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.p-xl {
	padding: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.p-2xl {
	padding: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.p-0 {
	padding: 0 !important;
}
.pl-2xs {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.pl-xs {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.pl-s {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.pl-m {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.pl-l {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.pl-xl {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.pl-2xl {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.pl-0 {
	padding-left: 0 !important;
}
.pr-2xs {
	padding-right: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.pr-xs {
	padding-right: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.pr-s {
	padding-right: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.pr-m {
	padding-right: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.pr-l {
	padding-right: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.pr-xl {
	padding-right: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.pr-2xl {
	padding-right: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.pr-0 {
	padding-right: 0 !important;
}
.pt-2xs {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.pt-xs {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.pt-s {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.pt-m {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.pt-l {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.pt-xl {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.pt-2xl {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.pt-0 {
	padding-top: 0 !important;
}
.pb-2xs {
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.pb-xs {
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.pb-s {
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.pb-m {
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.pb-l {
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.pb-xl {
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.pb-2xl {
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.pb-0 {
	padding-bottom: 0 !important;
}
.px-2xs {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
	padding-right: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.px-xs {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
	padding-right: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.px-s {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
	padding-right: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.px-m {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
	padding-right: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.px-l {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
	padding-right: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.px-xl {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
	padding-right: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.px-2xl {
	padding-left: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
	padding-right: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.py-2xs {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-2xs) * var(--haondt-ui-spacing-base)) !important;
}
.py-xs {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-xs) * var(--haondt-ui-spacing-base)) !important;
}
.py-s {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-s) * var(--haondt-ui-spacing-base)) !important;
}
.py-m {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-m) * var(--haondt-ui-spacing-base)) !important;
}
.py-l {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-l) * var(--haondt-ui-spacing-base)) !important;
}
.py-xl {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-xl) * var(--haondt-ui-spacing-base)) !important;
}
.py-2xl {
	padding-top: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
	padding-bottom: calc(var(--haondt-ui-spacing-multiplier-2xl) * var(--haondt-ui-spacing-base)) !important;
}
.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
