:root {
    /* based on 16px root */
    --p2r-5: 0.3125rem;
    --p2r-6: 0.375rem;
    --p2r-7: 0.4375rem;
    --p2r-8: 0.5rem;
    --p2r-9: 0.5625rem;
    --p2r-10: 0.625rem;
    --p2r-11: 0.6875rem;
    --p2r-12: 0.75rem;
    --p2r-13: 0.8125rem;
    --p2r-14: 0.875rem;
    --p2r-15: 0.9375rem;
    --p2r-16: 1rem;
    --p2r-17: 1.0625rem;
    --p2r-18: 1.125rem;
    --p2r-19: 1.1875rem;
    --p2r-20: 1.25rem;
    --p2r-22: 1.375rem;
    --p2r-24: 1.5rem;
    --p2r-26: 1.625rem;
    --p2r-28: 1.75rem;
    --p2r-30: 1.875rem;
    --p2r-32: 2rem;

    --haondt-ui-color-primary: #a48836;
    --haondt-ui-color-accent: #CEBA7D;

    --haondt-ui-color-background-strong: #1C1B1D;
    --haondt-ui-color-background: #161418;

    --haondt-ui-color-text: #BFBCC3;
    --haondt-ui-color-text-weak: #7E788E;

    --haondt-ui-color-title: #F9F5FF;

    --haondt-ui-color-subtitle: #F9F5FF;

    --haondt-ui-color-border-strong: #837E8B;
    --haondt-ui-color-border: #434149;

    --haondt-ui-color-danger: #d04343;
    --haondt-ui-color-success: #48c78d;
    --haondt-ui-color-warning: #C7BC48;

    --haondt-ui-color-chip-background: #302E33;

    --haondt-ui-card-border-radius-base: 10px;
    --haondt-ui-card-border-radius: var(--haondt-ui-card-border-radius-base);
    --haondt-ui-card-spacing-base: 16px;
    --haondt-ui-card-spacing: var(--haondt-ui-card-spacing-base);

    --haondt-ui-panel-border-radius-base: 10px;
    --haondt-ui-panel-border-radius: var(--haondt-ui-panel-border-radius-base);
    --haondt-ui-panel-spacing-base: 32px;
    --haondt-ui-panel-spacing: var(--haondt-ui-panel-spacing-base);

    --haondt-ui-border-radius-base: 6px;
    --haondt-ui-border-radius: var(--haondt-ui-border-radius-base);
    --haondt-ui-border-width-base: 1px;
    --haondt-ui-border-width: var(--haondt-ui-border-width-base);
    --haondt-ui-border-focus-width: calc(2 * var(--haondt-ui-border-width-base));

    --haondt-ui-line-spacing-base: 0.5rem;
    --haondt-ui-line-spacing: var(--haondt-ui-line-spacing-base);

    --haondt-ui-content-width-base: 1300px;
    --haondt-ui-content-width-s: calc(0.3 * var(--haondt-ui-content-width-base));
    --haondt-ui-content-width: var(--haondt-ui-content-width-base);

    --haondt-ui-text-font-size-base: 1rem;
    --haondt-ui-text-font-size: var(--haondt-ui-text-font-size-base);
    --haondt-ui-text-font-weight: 300;

    --haondt-ui-title-font-size-base: 2.25rem;
    --haondt-ui-title-font-size: var(--haondt-ui-title-font-size-base);
    --haondt-ui-title-font-weight: 300;

    --haondt-ui-subtitle-font-size: var(--haondt-ui-text-font-size);
    --haondt-ui-subtitle-font-weight: 500;

    --haondt-ui-chip-font-size-base: 0.8rem;
    --haondt-ui-chip-font-size: var(--haondt-ui-chip-font-size-base);
    --haondt-ui-chip-font-weight: 400;
    --haondt-ui-chip-padding-x: calc(var(--haondt-ui-chip-font-size) * 0.6);
    --haondt-ui-chip-padding-y: calc(var(--haondt-ui-chip-font-size) * 0.4);

    --haondt-ui-hint-font-size-base: 0.875rem;
    --haondt-ui-hint-font-size: var(--haondt-ui-hint-font-size-base);

    --haondt-ui-monospace-fonts: Roboto Mono, Inconsolata, Hack, SF Mono, Source Code Pro, Ubuntu Mono, monospace;
    --haondt-ui-font-family: sans-serif;

    --haondt-ui-spacing-base: 1rem;
    --haondt-ui-spacing-multiplier-2xs: 0.25;
    --haondt-ui-spacing-multiplier-xs: 0.5;
    --haondt-ui-spacing-multiplier-s: 0.75;
    --haondt-ui-spacing-multiplier-m: 1;
    --haondt-ui-spacing-multiplier-l: 1.25;
    --haondt-ui-spacing-multiplier-xl: 1.5;
    --haondt-ui-spacing-multiplier-2xl: 3;

    --haondt-ui-control-height-base: 2.5rem;
    --haondt-ui-control-height: var(--haondt-ui-control-height-base);
    --haondt-ui-control-padding-base: 1rem;
    --haondt-ui-control-padding-x: calc(0.625 * var(--haondt-ui-control-padding-base));

    --haondt-ui-hover-transition-duration-enter: 0.1s;
    --haondt-ui-hover-transition-duration-leave: 0.3s;
    --haondt-ui-hover-transition-timing: ease;

    --haondt-ui-blend-height: 16px;
    --haondt-ui-blend-box-shadow: 0 0 9px 10px var(--haondt-ui-color-background);
    --haondt-ui-blend-clip-path: inset(0 calc(-1 * var(--haondt-ui-blend-height)) calc(-1 * var(--haondt-ui-blend-height)) calc(-1 * var(--haondt-ui-blend-height)));

    --haondt-ui-button-hover-delta: 5;

    --haondt-ui-modal-width-s: 468px;
    --haondt-ui-modal-width-m: 964px;
    --haondt-ui-modal-vertical-spacing: 100px;
}

/* display is smaller or equal to device of size x */
@custom-media --haondt-ui-media-query-lte-s screen and (max-width: 768px);
@custom-media --haondt-ui-media-query-lte-m screen and (max-width: 1024px);
@custom-media --haondt-ui-media-query-lte-l screen and (max-width: 1200px);

/* display is larger or equal to device of size x */
@custom-media --haondt-ui-media-query-gte-m screen and (min-width: 769px);
@custom-media --haondt-ui-media-query-gte-l screen and (min-width: 1025px);
@custom-media --haondt-ui-media-query-gte-xl screen and (min-width: 1201px);
