.form-action-bar {
    --form-action-bar-bottom-offset: 0px;
    display: flex;
    flex-direction: column;
    position: sticky;

    bottom: 0;
    padding-bottom: 8px;

    background-color: var(--haondt-ui-color-background);
    box-shadow: var(--haondt-ui-blend-box-shadow);
    clip-path: inset(calc(-1 * var(--haondt-ui-blend-height)) calc(-1 * var(--haondt-ui-blend-height)) 0 calc(-1 * var(--haondt-ui-blend-height)));
    margin-top: calc(var(--haondt-ui-footer-min-height) + var(--haondt-ui-blend-height));
}

@media (--haondt-ui-media-query-lte-s) {
    .form-action-bar {
        > .frame {
            > .button {
                flex-grow: 1;
            }
        }
    }
}
