@using Haondt.Web.UI.Components.Containers
@using Haondt.Web.UI.Components.Htmx
@using Odyssey.UI.Core.Services
@attribute [RenderPage(Role = OdysseyRoles.Host)]
@implements IHasNavigationBarComponent

@code {
    public NavigationBar CreateNavigationBar() => new()
    {
        Template = new NavigationBarDefault(OdysseyRoles.Host)
    };

}

<ContentContainer>
    <Frame Gap="FrameSpacing.Panel" Flex="FrameDirection.Col">
        <HostSecondaryNavigationBar ActiveTab="HostSecondaryNavigationBarTab.Sessions" />
        <p>Host sessions tab </p>
    </Frame>
</ContentContainer>

