@using Haondt.Web.UI.Components.Element
@attribute [RenderPage]
@attribute [LayoutOptions(ShowNavigationBar = false)]

<Odyssey.UI.Core.Components.NavigationContainer HxSwapOob='"true"'>  
        <div>Imagine this is a real navigation bar</div>
</Odyssey.UI.Core.Components.NavigationContainer>

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>



<Frame Flex="FrameDirection.Col">

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>


</Frame>

<div>

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>


</div>
