@using Haondt.Web.UI.Components.Element
@attribute [RenderPage]

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>



<Frame Flex="FrameDirection.Col">

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>


</Frame>

<div>

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>


</div>
