@using Haondt.Web.UI.Components.Components
@using Haondt.Web.UI.Components.Element
@using Odyssey.UI.Core.Services
@attribute [RenderPage(Role = OdysseyRoles.Host)]
@implements IHasNavigationBarComponent

@code {
    public NavigationBar CreateNavigationBar() => new()
    {
        Template = new NavigationBarDefault(OdysseyRoles.Host)
    };
}

<HostSecondaryNavigationBar ActiveTab="HostSecondaryNavigationBarTab.Boards" />

<Frame Flex="FrameDirection.Col">

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>


</Frame>

<div>

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>


</div>
