@using Haondt.Web.UI.Components.Element
@using Odyssey.UI.Core.Services
@attribute [RenderPage]
@implements IHasNavigationBarComponent

@code {
    public NavigationBar CreateNavigationBar() => new()
    {
        Template = new NavigationBarDefault()
    };

}

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>



<Frame Flex="FrameDirection.Col">

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>


</Frame>

<div>

<div class="content-container big-screen">
    <div class="test">
        Hello, World!
    </div>
</div>


</div>
