@using Odyssey.Client.Authentication.Services
@using Odyssey.Domain.Core.Services
@using Odyssey.UI.Host.Models;
@using Haondt.Web.UI.Services;
@using Haondt.Core.Extensions;
@using Haondt.Web.UI.Components.Components;
@inject IGameRegistry GameRegistry
@inject ISessionService SessionService

@code {
    public const string Id = "new-board-modal-panel";

    private List<DropdownOption> _dropdownOptions = [];
    protected override async Task OnInitializedAsync()
    {
        _dropdownOptions = (await GameRegistry.GetGameNamesAsync((await SessionService.GetUserIdAsync()).Expect()))
            .Select(g => new DropdownOption
            {
                Text = g.Value,
                Value = g.Key
            }).ToList();
    }
}

<form id="@Id" hx-post>
    <Frame Flex="FrameDirection.Col" Gap="FrameSpacing.Panel" Align="FrameAlignment.Stretch">
        <p class="subtitle">Create board</p>
        <Frame Flex="FrameDirection.Col" Gap="FrameSpacing.Card" Align="FrameAlignment.Stretch">
            <SmartField TBase="NewBoardModel" Field="c => c.Name" Placeholder='"Name"' />
            <SmartField TBase="NewBoardModel" Field="m => m.Game" Options="@_dropdownOptions" />
        </Frame>
        <Frame Template="FrameTemplate.ButtonContainer">
            <Button Type="ButtonType.CloseModal" Style="ButtonStyle.Ghost">Cancel</Button>
            <Button
                Color="ButtonColor.Primary" Type="ButtonType.Submit" >Create</Button>
        </Frame>
    </Frame>
</form>
