@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Clickable { get; set; } = false;

    private HashSet<string> _rootClasses = ["card"];

    protected override void OnInitialized()
    {
        if (Clickable)
            _rootClasses.Add("card-clickable");
    }


}
<div class="@string.Join(' ', _rootClasses)">
    @ChildContent
</div>