@using System.Text
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Optional<FrameDirection> Flex { get; set; }

    [Parameter]
    public Optional<FrameJustification> Justify { get; set; }

    [Parameter]
    public Optional<FrameAlignment> Align { get; set; }

    [Parameter]
    public Optional<string> AddClasses { get; set; }

    private HashSet<string> _rootClasses = ["frame"];

    protected override void OnInitialized()
    {
        if(Flex.TryGetValue(out var flex))
        {
            _rootClasses.Add("frame-flex");
            _rootClasses.Add(flex switch
            {
                FrameDirection.Col => "frame-flex-col",
                FrameDirection.Row => "frame-flex-row",
                _ => ""
            });

            if (Justify.TryGetValue(out var justification))
                _rootClasses.Add(justification switch
                {
                    FrameJustification.Start => "frame-justify-content-flex-start",
                    FrameJustification.End => "frame-justify-content-flex-end",
                    FrameJustification.Center => "frame-justify-content-center",
                    FrameJustification.SpaceAround => "frame-justify-content-space-around",
                    FrameJustification.SpaceBetween => "frame-justify-content-space-between",
                    _ => ""
                });

            _rootClasses.Add(Align.Or(FrameAlignment.Center) switch
            {
                FrameAlignment.Start => "frame-align-items-flex-start",
                FrameAlignment.End => "frame-align-items-flex-end",
                FrameAlignment.Center => "frame-align-items-center",
                _ => ""
            });
        }

        if (AddClasses.TryGetValue(out var addClasses))
            _rootClasses.Add(addClasses);
    }
}

<div class="@string.Join(' ', _rootClasses)">
    @ChildContent
</div>
