
:root {
    --haondt-ui-font-family: "Inter", sans-serif;
    --haondt-ui-monospace-fonts: "Source Code Pro Variable", Inconsolata, Hack, SF Mono, Source Code Pro, Ubuntu Mono, monospace;
}

@font-face {
  font-family: "Inter";
  src: url("/static/shared/vendored/@fontsource-variable/inter/files/inter-latin-wght-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
}
@font-face {
  font-family: "Inter";
  src: url("/static/shared/vendored/@fontsource-variable/inter/files/inter-latin-wght-italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
}
@font-face {
  font-family: "Source Code Pro Variable";
  src: url("/static/shared/vendored/@fontsource-variable/source-code-pro/files/source-code-pro-latin-wght-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
}

.monospace {
    font-weight: 350;
}

/* big screen mode */

@media (--haondt-ui-media-query-gte-l) {
    .big-screen {

        --haondt-ui-text-font-size-base: 2rem;
        --haondt-ui-title-font-size-base: 4.5rem;
        --haondt-ui-chip-font-size-base: 1.6rem;
        --haondt-ui-hint-font-size-base: 1.75rem;

        --haondt-ui-spacing-base: 2rem;
        --haondt-ui-card-spacing-base: 32px;
        --haondt-ui-card-border-radius-base: 20px;
        --haondt-ui-panel-spacing-base: 64px;
        --haondt-ui-panel-border-radius-base: 20px;
        --haondt-ui-line-spacing-base: 1rem;

        --haondt-ui-border-radius-base: 12px;

        --haondt-ui-control-height-base: 5rem;
        --haondt-ui-control-padding-base: 2rem;

        --haondt-ui-blend-height: 32px;
        --haondt-ui-blend-box-shadow-blur: 18px;
        --haondt-ui-blend-box-shadow-spread: 20px;

        @mixin derived-vars;
    }
}

.validation-error {
    white-space: pre-wrap;
    font-size: var(--haondt-ui-hint-font-size);
    color: var(--haondt-ui-color-danger);
}

.idle-brand-display-text {
    font-size: 192px;
}
@media (--haondt-ui-media-query-lte-m) {
    .idle-brand-display-text {
        font-size: 96px;
    }
}
@media (--haondt-ui-media-query-lte-s) {
    .idle-brand-display-text {
        font-size: 64px;
    }
}
