
:root {
    --haondt-ui-font-family: "Inter", sans-serif;
}


/* big screen mode */

@media screen and (min-width: 768px) {
    .big-screen {
        --haondt-ui-text-font-size: calc(2 * var(--haondt-ui-text-font-size-base));
        --haondt-ui-subtitle-font-size: calc(2 * var(--haondt-ui-subtitle-font-size-base));

        --haondt-ui-grid-gap-s: 24px;
        --haondt-ui-grid-gap-m: 32px;
        --haondt-ui-grid-gap-l: 40px;

        --haondt-ui-content-gap-s: 0.5rem;
        --haondt-ui-content-gap-m: 1.5rem;
        --haondt-ui-content-gap-l: 2rem;

        --haondt-ui-card-spacing: calc(2 * var(--haondt-ui-card-spacing-base));
        --haondt-ui-card-border-radius: calc(2 * var(--haondt-ui-card-border-radius-base));

        --haondt-ui-panel-spacing: calc(2 * var(--haondt-ui-panel-spacing-base));
        --haondt-ui-panel-border-radius: calc(2 * var(--haondt-ui-panel-border-radius-base));

        --haondt-ui-spacing-base: 2rem;
    }
}

