
:root {
    --odyssey-content-width: 1300px;
    --haondt-ui-font-family: "Inter", sans-serif;
}

/* containers */

.content-container {
    max-width: var(--odyssey-content-width);
    margin: auto;
    width: calc(100% - 40px);
}

.max-width-content {
    max-width: var(--odyssey-content-width) !important;
}

/* big screen mode */

@media screen and (min-width: 768px) {
    .big-screen {
        --haondt-ui-text-font-size: 2rem;
        --haondt-ui-subtitle-font-size: 2rem;

        --haondt-ui-grid-gap-s: 24px;
        --haondt-ui-grid-gap-m: 32px;
        --haondt-ui-grid-gap-l: 40px;

        --haondt-ui-content-gap-s: 0.5rem;
        --haondt-ui-content-gap-m: 1.5rem;
        --haondt-ui-content-gap-l: 2rem;

        --haondt-ui-card-padding: 32px;
        --haondt-ui-card-border-radius: 20px;

        --haondt-ui-spacing-base: 2rem;
    }
}

