.button {
    white-space: nowrap;
    color: var(--button-fg);
    background: var(--button-bg);
    position: relative;
}

.button:hover, .button.hovered {
    cursor: pointer;
}

.button-color-primary {
    --button-color: var(--haondt-ui-color-primary);
}
.button-color-text {
    --button-color: var(--haondt-ui-color-subtitle);
}
.button-color-text-weak {
    --button-color: var(--haondt-ui-color-text-weak);
}
.button-color-danger {
    --button-color: var(--haondt-ui-color-danger);
}
.button-color-success {
    --button-color: var(--haondt-ui-color-success);
}
.button-color-secret {
    --button-color: var(--haondt-ui-color-secret);
}

.button-style-fill {
    --button-fg: var(--haondt-ui-color-background);
    --button-bg: var(--button-color);
    font-weight: 400;
}

.button-color-text:is(.button-style-fill, .button-style-outline) {
    --button-color: var(--haondt-ui-color-text);
}

.button-style-fill:hover, .button-style-fill.hovered {
    --button-bg: hsl(from var(--button-color) h s calc(l + var(--haondt-ui-button-hover-delta)));
}

.button-style-ghost {
    --button-fg: var(--button-color);
}

.button-style-ghost:not(.button-color-text),
.button-style-skeleton:not(.button-color-text),
.button-style-outline:not(.button-color-text),
.button-style-border:not(.button-color-text),
.button-style-borderless:not(.button-color-text) {
    font-weight: 400;
}

.button-style-skeleton {
    --button-fg: var(--button-color);
    --haondt-ui-control-padding-x: 0;
    --haondt-ui-control-height: initial;
}

.button-style-outline {
    --button-fg: var(--button-color);
    border: var(--haondt-ui-border-width) solid var(--button-color);
    --button-bg: var(--haondt-ui-color-background);
}
.button-style-border {
    --button-fg: var(--button-color);
    border: var(--haondt-ui-border-width) solid var(--haondt-ui-color-border);
    --button-bg: var(--haondt-ui-color-background);
}
.button-style-borderless {
    --button-fg: var(--button-color);
    --button-bg: var(--haondt-ui-color-background);
}

:is(.button-style-outline, .button-style-border, .button-style-borderless):hover,
:is(.button-style-outline, .button-style-border, .button-style-borderless).hovered {
    --button-bg: var(--haondt-ui-color-background-strong);
}

.tooltip.tooltip-style-context-menu > .tooltip-content  .button {
    width: 100%;
    border-radius: 0;
    text-align: left;
}

.button[disabled] {
    pointer-events: none;

    /* a bit on the fence with this
        doesn't work great for buttons inside context menus (e.g. suggest input)
        and the fill background is pretty subtle
    */
/*    &.button-style-fill {
        background-color: hsl(from var(--button-color) h s calc(l + var(--haondt-ui-button-hover-delta)));
    }
    &:is(.button-style-outline, .button-style-border, .button-style-borderless) {
        background-color: var(--haondt-ui-color-background-strong);
    }
*/
}

.button-loading {
    pointer-events: none;
    color: transparent;
}

.button-loading::after {
    animation: spin .8s linear infinite;
    --button-loader-border-width: calc(2 * var(--haondt-ui-border-width));
    --button-loader-size: calc(var(--haondt-ui-text-font-size) - var(--button-loader-border-width));
    border-bottom: var(--button-loader-border-width) solid;
    border-left: var(--button-loader-border-width) solid;
    border-right: var(--button-loader-border-width) solid;
    border-top: var(--button-loader-border-width) solid transparent;
    border-radius: var(--button-loader-size);
    content: "";
    display: block;
    height: var(--button-loader-size);
    width: var(--button-loader-size);
    color: var(--button-fg);
    position: absolute;
    left: calc(50% - calc(var(--button-loader-size) / 2));
    top: calc(50% - calc(var(--button-loader-size) / 2));
}
