@code {
    [Parameter]
    public Optional<string> Text { get; set; } 

    [Parameter]
    public Optional<string> HxPost { get; set; } 

    [Parameter]
    public Optional<string> HxGet { get; set; } 

    [Parameter]
    public Optional<string> HxPushUrl { get; set; } 

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public ButtonStyle Style { get; set; }  = ButtonStyle.Fill;

    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Button;

    [Parameter]
    public ButtonColor Color { get; set; } = ButtonColor.Text;

    protected HashSet<string> _rootClasses = ["button"];
    protected Dictionary<string, object> _rootAttributes = [];

    protected override void OnInitialized()
    {
        if(Style.CssClass.TryGetValue(out var style))
            _rootClasses.Add(style);
        if(Color.CssClass.TryGetValue(out var color))
            _rootClasses.Add(color);
        if (HxPost.TryGetValue(out var hxPost))
            _rootAttributes["hx-post"] = hxPost;
        if (HxGet.TryGetValue(out var hxGet))
            _rootAttributes["hx-get"] = hxGet;
        if (HxPushUrl.TryGetValue(out var hxPushUrl))
            _rootAttributes["hx-push-url"] = hxPushUrl;
        _rootAttributes["type"] = Type.TypeString;
    }
}
<button @attributes="_rootAttributes" class="@string.Join(' ', _rootClasses)">
    @Text.Or("")
    @ChildContent
</button>