.button {
    --button-hover-delta: 5;
    white-space: nowrap;
}

.button:hover {
    cursor: pointer;
}

.button-color-primary {
    --button-color: var(--haondt-ui-color-primary);
}

.button-color-text {
    --button-color: var(--haondt-ui-color-subtitle);
}

.button-style-fill {
    color: var(--haondt-ui-color-background);
    background-color: var(--button-color);
    font-weight: 400;
}

.button-style-fill.button-color-text {
    --button-color: var(--haondt-ui-color-text);
}

.button-style-fill:hover {
    background-color: hsl(from var(--button-color) h s calc(l + var(--button-hover-delta)));
}

.button-style-ghost {
    color: var(--button-color);
}

.button-style-skeleton {
    color: var(--button-color);
    --haondt-ui-control-padding-x: 0;
    --haondt-ui-control-height: initial;
}
