.field {
    --indicator-length: calc(var(--haondt-ui-text-font-size) / 2);
    --indicator-width: calc(var(--haondt-ui-text-font-size) / 8);

    /* TODO: falback assumption 1rem = 16px until firefox supports division by units.
        see https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/calc#browser_compatibility
        and https://bugzilla.mozilla.org/show_bug.cgi?id=1264520
    */
    --indicator-length-px: 8;
}
@supports (width: calc(1px * calc(1px / 1px))) {
    .field {
        --indicator-length-px: calc(var(--indicator-length) / 1px);
    }
}

.field ::deep > .frame > .input > .tooltip {
    /* negate the control padding */
    margin-left: calc(-1 * var(--haondt-ui-control-padding-x));
}

.field-title {
    font-size: var(--haondt-ui-subtitle-font-size);
    font-weight: var(--haondt-ui-subtitle-font-weight);
    color: var(--haondt-ui-color-subtitle);
}

:is(.flex, .frame-flex) > .field.field-size-fill {
    flex-grow: 1;
    width: initial;
}


.field.field-size-fill {
    width: 100%;

    /* using > to skip the one inside the label-container (checkboxes) */
    > .frame > .input {
        width: 100%;
    }
}


.field-hidden {
    display: none;
}

select.input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}
.select-container {
    width: 100%;
    position: relative;

    > select {
        width: 100%;
    }
}

.select-container::after, .input:has(> .field-suggest-input)::after  {

    position: absolute;
    border: var(--indicator-width) solid var(--haondt-ui-color-primary);

    content: " ";
    height: calc(var(--indicator-length-px) * 1px);
    width: calc(var(--indicator-length-px) * 1px);
    border-top: none;
    border-left: none;
    --indicator-hyp-px: sqrt(calc(2 * calc(var(--indicator-length-px) * var(--indicator-length-px))));
    --indicator-ty: calc(-50% - calc(var(--indicator-hyp-px) * 0.25px));
    --p: calc(calc(sin(45deg) * var(--indicator-length)) - calc(0.5 * var(--indicator-length)));
    --indicator-tx: calc(-1 * var(--p) - var(--haondt-ui-control-padding-x));
    top: 50%;
    right: 0;
    transform: translateX(var(--indicator-tx)) translateY(var(--indicator-ty)) rotate(45deg);
}

.input:has(> .field-suggest-input) {
    display: flex;
    flex-direction: column;
    position: relative;
    > .field-suggest-text {
        height: 100%;
        align-content: center;
        cursor: pointer;
    }
}

.label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--haondt-ui-line-spacing);
    position: relative;

    &:has(> .input[type=checkbox]) > .field-title {
        cursor: pointer;
    }

    > .input[type=checkbox] {
        opacity: 0;
        /* make sure it is drawn on top of the icon */
        &:has(+ .field-icon) {
            z-index: 1;
        }
    }
    > .input[type=checkbox] + .field-icon {
        background: var(--haondt-ui-color-chip-background);
        border-radius: calc(var(--haondt-ui-checkbox-size) / 5);
        border: var(--haondt-ui-border-width) solid var(--haondt-ui-color-border);
        width: var(--haondt-ui-checkbox-size);
        height: var(--haondt-ui-checkbox-size);
        position: absolute;
    }
    > .input[type=checkbox][checked] + .field-icon {
        background: var(--haondt-ui-color-primary);
        border: none;
    }
    > .input[type=checkbox][checked] + .field-icon::before {
        background-clip: padding-box;
        border: var(--indicator-width) solid var(--haondt-ui-color-chip-background);
        border-left-width: 0;
        border-top-width: 0;
        content: " ";
        height: calc(1 / 2 * var(--haondt-ui-checkbox-size));
        width: calc(1 / 4 * var(--haondt-ui-checkbox-size));
        position: absolute;
        left: calc(-1 / 8 * var(--haondt-ui-checkbox-size) - 1 / 2 * var(--indicator-width));
        top: calc(-1 / 4 * var(--haondt-ui-checkbox-size) - 1 / 2 * var(--indicator-width));
        --r: calc(1 / 4 * var(--haondt-ui-checkbox-size));
        --z: calc((var(--r) - var(--indicator-width) / 2) / (2 * sqrt(2)));
        --t: calc(var(--z) * -1 / sqrt(2));
        transform: rotate(45deg) translateX(calc(sqrt(2) * var(--haondt-ui-checkbox-size) / 2)) translate(var(--t), var(--t));
    }

}

.field.field-invalid {
    .input, .input:hover, .input:active {
        border-color: var(--haondt-ui-color-danger);
    }
    .input:focus {
        outline-color: var(--haondt-ui-color-danger);
    }
}

