.field-title {
    font-size: var(--haondt-ui-subtitle-font-size);
    font-weight: var(--haondt-ui-subtitle-font-weight);
    color: var(--haondt-ui-color-subtitle);
}

.flex > .field.field-size-fill, .frame-flex > .field.field-size-fill {
    flex-grow: 1;
    width: initial;
}

.field.field-size-fill {
    width: 100%;

    .input {
        width: 100%;
    }
}
