@using System.Text
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public Optional<string> Id { get; set; }

    [Parameter]
    public Optional<FrameDirection> Flex { get; set; }

    [Parameter]
    public Optional<FrameTemplate> Template { get; set; }

    [Parameter]
    public Optional<FrameGrid> Grid { get; set; }

    [Parameter]
    public Optional<FrameJustification> Justify { get; set; }

    [Parameter]
    public Optional<FrameAlignment> Align { get; set; }

    [Parameter]
    public Optional<FrameSpacing> Gap { get; set; }

    [Parameter]
    public Optional<FrameSpacing> Padding { get; set; }

    /// <summary>
    /// Supply values for both gap and padding
    /// </summary>
    [Parameter]
    public Optional<FrameSpacing> Spacing { get; set; }

    [Parameter]
    public Optional<FrameBorder> Border { get; set; }

    [Parameter]
    public Optional<FrameRadius> Radius { get; set; }

    [Parameter]
    public bool Clickable { get; set; } = false;

    [Parameter]
    public Optional<string> AddClasses { get; set; }

    protected HashSet<string> _rootClasses = ["frame"];
    protected Dictionary<string, object> _rootAttributes  = [];

    protected override void OnInitialized()
    {
        if (Template.TryGetValue(out var template))
            switch(template) 
            {
                case FrameTemplate.ButtonContainer:
                    Flex = Flex.Or(FrameDirection.RowWrap);
                    Justify = Justify.Or(FrameJustification.End);
                    Gap = Gap.Or(FrameSpacing.Line);
                    Align = Align.Or(FrameAlignment.Center);
                    break;
                case FrameTemplate.ChipContainer:
                    Flex = Flex.Or(FrameDirection.RowWrap);
                    Gap = Gap.Or(FrameSpacing.Card);
                    Align = Align.Or(FrameAlignment.Center);
                    break;
                case FrameTemplate.Panel:
                    Gap = Gap.Or(FrameSpacing.Panel);
                    Padding = Padding.Or(FrameSpacing.Panel);
                    Border = Border.Or(FrameBorder.Panel);
                    break;
                case FrameTemplate.Card:
                    Gap = Gap.Or(FrameSpacing.Card);
                    Padding = Padding.Or(FrameSpacing.Card);
                    Border = Border.Or(FrameBorder.Card);
                    break;

            }

        if (Id.TryGetValue(out var id))
            _rootAttributes["id"] = id;

        if (Clickable)
        {
            _rootClasses.Add("frame-clickable");
        }

        if (Border.TryGetValue(out var border))
        {
            _rootClasses.Add("frame-border");
            if (border.CssClass.TryGetValue(out var borderClass))
                _rootClasses.Add(borderClass);
            if (!Radius.HasValue)
            {
                Radius = border switch
                {
                    FrameBorder.Card => FrameRadius.Card,
                    FrameBorder.Panel => FrameRadius.Panel,
                    _ => new Optional<FrameRadius>()
                };
            }
        }

        if (Radius.TryGetValue(out var radius))
        {
            _rootClasses.Add("frame-radius");
            if (radius.CssClass.TryGetValue(out var borderClass))
                _rootClasses.Add(borderClass);
        }

        if(Flex.TryGetValue(out var flex))
        {
            _rootClasses.Add("frame-flex");
            if (flex.CssClass.TryGetValue(out var flexClass))
                _rootClasses.Add(flexClass);

            if (Justify.Bind(q => q.CssClass).TryGetValue(out var justificationClass))
                _rootClasses.Add(justificationClass);

            if(Align.Or(FrameAlignment.Stretch).CssClass.TryGetValue(out var alignmentClass))
                _rootClasses.Add(alignmentClass);

            if (Spacing.TryGetValue(out var spacingClass))
            {
                Gap = Gap.Or(spacingClass);
                Padding = Padding.Or(spacingClass);
            }
            if (Gap.Bind(q => q.GapCssClass).TryGetValue(out var gapClass))
                _rootClasses.Add(gapClass);

        }

        if (Grid.TryGetValue(out var grid))
        {
            _rootClasses.Add("frame-grid");
            if (grid.CssClass.TryGetValue(out var gridClass))
                _rootClasses.Add(gridClass);

            if (Justify.Bind(q => q.CssClass).TryGetValue(out var justificationClass))
                _rootClasses.Add(justificationClass);

            if(Align.Or(FrameAlignment.Stretch).CssClass.TryGetValue(out var alignmentClass))
                _rootClasses.Add(alignmentClass);

            if (Spacing.TryGetValue(out var spacingClass))
            {
                Gap = Gap.Or(spacingClass);
                Padding = Padding.Or(spacingClass);
            }
            if (Gap.Bind(q => q.GapCssClass).TryGetValue(out var gapClass))
                _rootClasses.Add(gapClass);

        }

        if (Padding.Bind(q => q.PaddingCssClass).TryGetValue(out var paddingClass))
            _rootClasses.Add(paddingClass);

        if (AddClasses.TryGetValue(out var addClasses))
            _rootClasses.Add(addClasses);
    }
}

<div @attributes="_rootAttributes" class="@string.Join(' ', _rootClasses)">@ChildContent</div>
