.frame-flex { display: flex; }
.frame-flex-col { flex-direction: column; }
.frame-flex-row { flex-direction: row; }

.frame-justify-content-flex-start { justify-content: flex-start; }
.frame-justify-content-flex-end { justify-content: flex-end; }
.frame-justify-content-center { justify-content: center; }
.frame-justify-content-space-around { justify-content: space-around; }
.frame-justify-content-space-between { justify-content: space-between; }

.frame-align-items-flex-start { align-items: flex-start; }
.frame-align-items-flex-end { align-items: flex-end; }
.frame-align-items-center { align-items: center; }

.frame-grid { display: grid; }

/* 
    fixed = keep this number of columns always
    collapse = allow columns to fold into rows
*/
.frame-grid-fill-2 { grid-template-columns: repeat(2, 1fr); }


.frame-grid-collapsible-fill-2 { grid-template-columns: repeat(2, 1fr); }
@media screen and (max-width: 768px) {
    .frame-grid-collapsible-fill-2 { grid-template-columns: repeat(1, 1fr); }
}

.frame-gap-s { gap: var(--haondt-ui-grid-gap-s); }
.frame-gap-m { gap: var(--haondt-ui-grid-gap-m); }
.frame-gap-l { gap: var(--haondt-ui-grid-gap-l); }

.frame-gap-content-s { gap: var(--haondt-ui-content-gap-s); }
.frame-gap-content-m { gap: var(--haondt-ui-content-gap-m); }
.frame-gap-content-l { gap: var(--haondt-ui-content-gap-l); }
