.panel {
    padding: var(--haondt-ui-panel-spacing);
    border-radius: var(--haondt-ui-panel-border-radius);
    border: 1px solid var(--haondt-ui-color-border);
}

.panel-clickable {
    cursor: pointer;
    pointer-events: all;
    transition: border-color 0.5s ease;
}
.panel-clickable:hover {
    border: 1px solid var(--haondt-ui-color-accent);
    transition-duration: initial;
}