#toast-container {
    overflow-y: auto;
    position: fixed;
    z-index: 3000;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: var(--haondt-ui-card-spacing);

    padding-top: calc(var(--haondt-ui-toast-offset) + var(--haondt-ui-blend-height));
    /* 2x to keep the blend off the scrollbar */
    padding-right: calc(var(--haondt-ui-toast-offset) + calc(2 * var(--haondt-ui-blend-height)));
    padding-bottom: var(--haondt-ui-blend-height);
    padding-left: var(--haondt-ui-blend-height);
}

#layout-container:has(> #modal-container.active) > #toast-container {
    box-shadow:none;
    border-color: rgba(0,0,0,0.5);
    padding-left: 0;
    padding-bottom: 0;
    padding-top: calc(var(--haondt-ui-toast-offset) + var(--haondt-ui-blend-height));
    padding-right: calc(var(--haondt-ui-toast-offset) + calc(2 * var(--haondt-ui-blend-height)));
}
