#body-content {
    display: flex;
    flex-direction: column;
    > #page-container {
        display: flex;
        flex-direction: column;
    }
}

#body-content.fill-page {
    flex-grow: 1;

    > #page-container {
        flex-grow: 1;
    }

    > #footer-container {
        display: none;
    }
}
