#layout-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    > #page-container {
        display: flex;
        flex-direction: column;
        > #layout-content-container {
            display: flex;
            flex-direction: column;
        }
    }
    padding-bottom: 80px;
}

#layout-container.fill-page {
    flex-grow: 1;
    overflow-y: auto;

    > #page-container {
        flex-grow: 1;
        > #layout-content-container {
            flex-grow: 1;
        }
    }
    padding-bottom: 0;
}
