@using Haondt.Web.Core.Extensions
@using Haondt.Web.Core.Http
@using Haondt.Web.UI.Attributes
@using Haondt.Web.UI.Components.Containers
@using Haondt.Web.UI.Components.Element
@using Haondt.Web.UI.Components.Htmx
@using Odyssey.UI.Core.Extensions
@using Odyssey.UI.Core.Services
@code {
    [Parameter, EditorRequired]
    public required IComponent Content { get; set; }

    [Parameter]
    public Optional<LayoutOptionsAttribute> LayoutOptionsAttribute { get; set; }

    private string _targetRole = OdysseyRoles.None;

    [CascadingParameter]
    public IRequestData Request { get; set; } = default!;

    [CascadingParameter]
    public IResponseData Response { get; set; } = default!;

    public const string Id = "layout-container";

    private string _bodyContentClasses = "";

    protected override void OnInitialized()
    {
        if (LayoutOptionsAttribute.Map(x => x.FillPage).Or(false))
            _bodyContentClasses = "fill-page";

        var renderPageAttribute = Content.GetType().GetCustomAttributes(typeof(OdysseyRenderPageAttribute), inherit: false).FirstOrDefault().AsOptional().Map(q => (OdysseyRenderPageAttribute)q);
        _targetRole = renderPageAttribute.Map(q => q.Role).Or(OdysseyRoles.None);
    }
}

<div id="@Id" class="@_bodyContentClasses">
    <ModalContainer Active="false" />
    <ToastContainer />
    @if (Request.IsHxRequest())
    {
        <div id="@Websocket.Id" hx-preserve></div>
        <template _="on load send UpdateWebsocket(role: '@_targetRole') to #@Websocket.Id then remove me end"></template>
    }
    else
    {
        <Websocket Role="_targetRole" />
    }
    <div id="page-container">
        <NavigationContainer LayoutOptionsAttribute="LayoutOptionsAttribute" >
            @if(Content is IHasNavigationBarComponent hasNav)
            {
                <ObjectComponent Component="hasNav.CreateNavigationBar()"/>
            }
        </NavigationContainer>
        <div id="layout-content-container">
            <ObjectComponent Component="@Content"/>
        </div>
    </div>
</div>
