@using Haondt.Web.Core.Extensions
@using Haondt.Web.Core.Http
@using Haondt.Web.UI.Attributes
@using Haondt.Web.UI.Components.Containers
@using Haondt.Web.UI.Components.Element
@using Haondt.Web.UI.Components.Htmx
@using Odyssey.UI.Core.Extensions
@using Odyssey.UI.Core.Services
@code {
    [Parameter, EditorRequired]
    public required IComponent Content { get; set; }

    [Parameter]
    public Optional<LayoutOptionsAttribute> LayoutOptionsAttribute { get; set; }

    private bool _swapWebSocket = false;
    private string _targetRole = OdysseyRoles.None;

    [CascadingParameter]
    public IRequestData Request { get; set; } = default!;

    public const string Id = "layout-container";

    private string _bodyContentClasses = "";

    protected override void OnInitialized()
    {
        if (LayoutOptionsAttribute.Map(x => x.FillPage).Or(false))
            _bodyContentClasses = "fill-page";

        var renderPageAttribute = Content.GetType().GetCustomAttributes(typeof(OdysseyRenderPageAttribute), inherit: false).FirstOrDefault().AsOptional().Map(q => (OdysseyRenderPageAttribute)q);

        _targetRole = renderPageAttribute.Map(q => q.Role).Or(OdysseyRoles.None);
        var currentRole = Request.HxCurrentPath().Map(q =>
        {
            var segment = q.Split("/").Skip(1).FirstOrDefault();
            return segment switch
            {
                OdysseyRoles.Host => OdysseyRoles.Host,
                OdysseyRoles.Admin => OdysseyRoles.Admin,
                OdysseyRoles.Device => OdysseyRoles.Device,
                OdysseyRoles.Display => OdysseyRoles.Display,
                _ => OdysseyRoles.None
            };
        }).Or(OdysseyRoles.None);

        _swapWebSocket = !Request.IsHxRequest() ||  currentRole != _targetRole;
    }
}

<div id="@Id" class="@_bodyContentClasses">
    @if(_swapWebSocket) 
    {
        @if(_targetRole == OdysseyRoles.None)
        {
            <div id="websocket-container"></div>
        }
        else
        {
            <div id="websocket-container" hx-ext="ws" ws-connect="wss:/ws/@_targetRole"
                _="
                    on load
                        log localStorage.clientId
                        set localStorage.clientId to '@Guid.NewGuid()'
                        log localStorage.clientId
                    end
                ">ws: @_targetRole/@Guid.NewGuid()</div>
        }
    }
    else
    {
        <div id="websocket-container" hx-preserve></div>
    }
    <div id="page-container">
        <NavigationContainer LayoutOptionsAttribute="LayoutOptionsAttribute" >
            @if(Content is IHasNavigationBarComponent hasNav)
            {
                <ObjectComponent Component="hasNav.CreateNavigationBar()"/>
            }
        </NavigationContainer>
        <div id="layout-content-container">
            <ObjectComponent Component="@Content"/>
        </div>
    </div>
</div>
