#layout-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    > #page-container {
        display: flex;
        flex-direction: column;
        > #layout-content-container {
            display: flex;
            flex-direction: column;
        }
    }
    padding-bottom: var(--haondt-ui-footer-min-height);
}

#layout-container.fill-page {
    flex-grow: 1;
    overflow-y: auto;

    > #page-container {
        flex-grow: 1;
        > #layout-content-container {
            flex-grow: 1;
        }
    }
    padding-bottom: 0;
}

#layout-container:has(.form-action-bar) {
    padding-bottom: 0;
}
