@using Haondt.Web.Core.Http
@using Haondt.Web.UI.Components.Element
@code {
    [Parameter, EditorRequired]
    public required IComponent Content { get; set; }

    [Parameter]
    public Optional<LayoutOptionsAttribute> LayoutOptionsAttribute { get; set; }

    private string _bodyContentClasses = "";

    protected override void OnInitialized()
    {
        if (LayoutOptionsAttribute.Map(x => x.FillPage).Or(false))
            _bodyContentClasses = "fill-page";
    }
}

<div id="layout-container" class="@_bodyContentClasses">
    <div id="modal-container" class="modal"></div>
    <ToastContainer />
    <div id="page-container">
        <NavigationContainer LayoutOptionsAttribute="LayoutOptionsAttribute" />
        <div id="layout-content-container">
            <ObjectComponent Component="@Content"/>
        </div>
    </div>
    <div id="footer-container">
        <div style="height:80px;"></div>
    </div>
</div>
