#layout-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    > #page-container {
        display: flex;
        flex-direction: column;
    }
}

#layout-container.fill-page {
    flex-grow: 1;

    > #page-container {
        flex-grow: 1;
    }

    > #footer-container {
        display: none;
    }
}
