@using Odyssey.Client.Authentication.Services
@using Odyssey.UI.Core.Models
@inject NavigationManager Nav
@inject ISessionService SessionService
@code {
    [Parameter, EditorRequired]
    public required Union<NavigationBarEmpty, NavigationBarDefault, NavigationBarRoles> Template { get; set; }

    private Result<string> _username;

    protected override async Task OnInitializedAsync()
    {
        _username = (await SessionService.GetUsernameAsync());
    }
}

@switch(Template.Unwrap())
{
    case NavigationBarEmpty:
        <text></text>
        break;
    case NavigationBarRoles rolesBar:
        @if(SessionService.IsAuthenticated && _username.TryGetValue(out var username))
        {
            <Frame AddClasses='"big-screen"'
                Padding="FrameSpacing.Card"
                Flex="FrameDirection.Row" Justify="FrameJustification.End">
                <Frame 
                    Border="FrameBorder.Card"
                    Flex="FrameDirection.Row"
                    Template="FrameTemplate.Card">
                    <p class="text">@username</p>
                    <Button 
                        Style="ButtonStyle.Skeleton" 
                        Color="ButtonColor.Primary" 
                        HxPost="@Nav.ToAbsoluteUri(OdysseyRoutes.Auth.SignOut).ToString()">Sign out</Button>
                </Frame>
            </Frame>
        }
        break;
    case NavigationBarDefault defaultBar:
        @if(_username.TryGetValue(out username)) 
        {
            <p>Odyssey | @username</p>
        }
        else
        {
            <p>Odyssey</p>
        }
        break;
}
