@using Odyssey.Domain.Authentication.Services
@inject NavigationManager Nav
@inject ISessionService SessionService
@code {
    [Parameter, EditorRequired]
    public required Union<NavigationBarEmpty, NavigationBarDefault, NavigationBarRoles> Template { get; set; }

    private Result<string> _username;

    protected override async Task OnInitializedAsync()
    {
        _username = (await SessionService.GetUsernameAsync());
    }
}

@switch(Template.Unwrap())
{
    case NavigationBarEmpty:
        <text></text>
        break;
    case NavigationBarRoles rolesBar:
        @if(SessionService.IsAuthenticated)
        {
            <Frame AddClasses='"big-screen"'
                Padding="FrameSpacing.Card"
                Flex="FrameDirection.Row" Justify="FrameJustification.End">
                <Frame 
                    Border="FrameBorder.Card"
                    Flex="FrameDirection.Row"
                    Template="FrameTemplate.Card">
                    <p class="text">@_username.Expect()</p>
                    <Button 
                        Type="ButtonType.Skeleton" 
                        Color="ButtonColor.Primary" 
                        HxPost="@Nav.ToAbsoluteUri("auth/sign-out").ToString()">Sign out</Button>
                </Frame>
            </Frame>
        }
        break;
    case NavigationBarDefault defaultBar:
        <p>Odyssey | @_username.Expect()</p>
        break;
}
