@using Haondt.Web.Core.Components
@using Haondt.Web.Core.Extensions
@using Haondt.Web.Services
@inject IEnumerable<IHeadEntryDescriptor> HeadEntries

@code {
    [Parameter]
    public required IComponent Content { get; set; }
}

<!DOCTYPE html>
<html lang="en" style="overflow:auto;">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    @foreach(var headEntry in HeadEntries)
    {
        <text>@((MarkupString)headEntry.Render())</text>
    }
    </head>
    <body>
        <ObjectComponent Component="Content"/>
    </body>
</html>
