.section-header {
    display: flex;
    flex-direction: row;
    gap: var(--haondt-ui-line-spacing);
    align-items: center;
    cursor: pointer;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--haondt-ui-card-spacing);
    > .section-header > svg {
        transition: transform 0.1s ease-out;
    }
    > .section-content {
        display: flex;
        flex-direction: column;
        gap: var(--haondt-ui-card-spacing);
    }
}

.section.section-open > .section-header {
    > svg {
        transform: rotate(90deg);
    }
}

.section:not(.section-open) > .section-content {
    display: none;
}